//Quasar variables

$primary   : #1976D2;
$secondary : #2f2f2f;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$button-border-radius: 5px !default;
$generic-hover-transition: .7s cubic-bezier(.25, .8, .5, 1) !default
